* {
    background-color: #c9d6e1;
    font-family: Arial, Helvetica, sans-serif;
}
.header h1{
    display: inline;
    background-color: #075b6f;
    color: #c9d6e1;
    padding-left: 5px;
}

.header img {
    padding-left: 15px;
    padding-top: 45px;
    padding-bottom: 0px;
}

.header, .header img {
    background-color: #075b6f;
    margin-top: -23px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: -50px;
    margin-bottom: -7px;
    button {
        color: #c9d6e1;
        background-color: #075b6f;
        border: 0px;
        h3 {
            color: #c9d6e1;
            background-color: #075b6f;
            hover {
                opacity: 0.6;
            }
            
        }
        h3:hover {
            opacity: 0.5;
        }
    }
}


.contents {
    display: flex;
    flex-grow: 1;
    background-color: #075b6f;
    display: inline-block;
    padding: 10px;
    color: #c9d6e1;
    border: 1px solid #075b6f;
    h2 {
        background-color: #075b6f;
    }
    button {
        background-color: #075b6f;
        color: #c9d6e1;
        border: 0px;
        padding: 0px;
        margin-bottom: -5px;
        margin-top: -5px;
        h2 b {
            background-color: #075b6f;
            color: #c9d6e1;
        }
    }
    button:hover {
        opacity: 0.5;
    }
}

.combined {
    display: flex;
    align-items: center;
    border: 1px solid #075b6f;
}
.info {
    color: #213e47;
}
