* {
    background-color: #c9d6e1;
    font-family: Arial, Helvetica, sans-serif;
}
.header h1{
    display: inline;
    background-color: #075b6f;
    color: #c9d6e1;
    padding-left: 5px;
}

.header img {
    padding-left: 15px;
    padding-top: 45px;
    padding-bottom: 0px;
}

.header, .header img {
    background-color: #075b6f;
    margin-top: -23px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: -50px;
    margin-bottom: -7px;
    button {
        color: #c9d6e1;
        background-color: #075b6f;
        border: 0px;
        h3 {
            color: #c9d6e1;
            background-color: #075b6f;
            hover {
                opacity: 0.6;
            }
            
        }
        h3:hover {
            opacity: 0.5;
        }
    }
}

.tabs {
    overflow: hidden;
    background-color: #075b6f;
    b, a {
        overflow: hidden;
        background-color: #075b6f;
    }
}

.tabs button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #c9d6e1;
}

.tabs button:hover {
    background-color: rgb(33, 72, 83);
    b, a {
        background-color: rgb(33, 72, 83);
    }
}

.tabs button.active {
    background-color: #213e47;
    b {
        background-color: #213e47;
    }
}

.content {
    display: none;
    padding: 6px 12px;
    border-top: none;
    color: #213e47;
    border: 1px solid #213e47;
}
#pres {
    display: none;
}

.lactoseExterior, .glucose, .lactoseInterior, .lactoseAllo, .promoter, 
.operator, .repressor, .permease, .betaGal, .CAP, .plasmid {
    display: flex;
    align-items: center;
    p {
        margin: 0;
    }
}

.combined {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.combined div {
    width: 300px;
    padding: 10px;
    color:#213e47;
    border: 1px solid #075b6f;
    margin-bottom: 5px;
    margin-top: 5px;
}

#plasmidInputs {
    display: none;
    border: 1px solid #075b6f;
    margin: 5px;
    padding: 10px;
    h2 u {
        color: #213e47;
    }
}
